PRINT HELLO WORLD

In [1]:
print("hello world")

hello world

PRINT STRING VALUE AND INTEGER IN A SINGLE LINE

In [2]:
print("kakarot",10)

kakarot 10

COMMENTS IN PYHTON

In [3]:
# HASHTAG IN START OF LINE IS USED FOR SINGLE LINE COMMENTS IN PYHTON

MULTIPLE LINES COMMENTS IN PYHTHON

In [ ]:
"""MANY
LINES
COMMENTS"""

ARTHEMATIC OPERATIONS

SUM OF NUMBERS

In [5]:
print(7+18)

25

SUBTRACTION

In [6]:
print(19-6)

13

MULTIPLICATION

In [7]:
print(8*8)

64

DIVISION

In [8]:
print(16/4)

4.0

DECLARE VARIABLE

In [10]:
X="kakarot"
print(X)

kakarot

DECLARING INTEGERS

In [11]:
x=0,9,7,4
print(x)

(0, 9, 7, 4)

ASSIGNING VALUES TO MULTIPLE VARIABLES

In [12]:
x,y,z= "KAKAROT","AKAZA","AIZEN"
print(x)
print(y)
print(z)

KAKAROT
AKAZA
AIZEN

ASSIGNING SAME VALUE TO MULTIPLE VARIABLES

In [15]:
a=b=c = 78
print(a)
print(b)
print(c)

78
78
78

DECLARE VARIABLE AND THEIR ADDITION

In [16]:
a=17
b=18

print(a+b)

35